<appSettings>
  <add key="cloudinaryId" value="djnqdhxa1"/>
  <add key="cloudinaryKey" value="339589888966938"/>
  <add key="cloudinarySecret" value="SY4SK3NWfoed9K7BjoBLhQJ4lu4"/>
  <add key="vkId" value="4888672"/>
  <add key="vkSecret" value="cKs5x7XJVQ7vgVu3dIt7"/>
  <add key="twitterKey" value="QYsM0eqXnLWs7IEWVXa3DMoAL"/>
  <add key="twitterSecret" value="1Rkc2RN5s5wvAPMl6ZdkI7M19tSsXU3NbB3w40GohcEATCnYar"/>
  <add key="fbId" value="377863969067822"/>
  <add key="fbSecret" value="b05977590d28378deab9295b54585321"/>
</appSettings>
