@using MvcFileUploader.HtmlHelper
@{
    ViewBag.Title = "Pictures";

    //var showingInline = Model != null && Model == true;

    //option for inline view only
    //var ui = "jquery".Equals(Request.Params["ui"]) ? UploadUI.JQueryUI : UploadUI.Bootstrap;
    //var toggleUi = ui == UploadUI.Bootstrap ? "jquery" : "bootstrap";

    //setting layout based on ui
    Layout = "~/Views/Shared/_Layout.cshtml";// + (ui == UploadUI.Bootstrap ? "_MvcFileUploaderLayout.cshtml" : "_MvcFileUploaderLayout_jui.cshtml");
}

<div class="well">
    <legend>Another inline uploader in same page</legend>
    <p class="help-block">jpg/png size max 5 MB, max number of files 5, image preview enabled</p>
    @*<p class="help-block">note: do not set thumbnailUrl in returned json from server side controller in case image preview is disabled, in this demo it is being set, so tumbnail is shown after upload.</p>*@
    @(
    Html.MvcFileUpload()
        .UploadAt(Url.Action("UploadFile"))
        .WithFileTypes(@"/(\.|\/)(jpe?g|png)$/i")
        .WithMaxFileSize(5000000)
        .MaxNumberOfFiles(5)
        .RenderInline("_MvcFileupload")
          )
</div>

@Html.Partial("_LoadBoobsView")
@Html.Partial("_PicturesView")
